@model IEnumerable<WebApplicationBasic.Models.Album>

@{ ViewData["Title"] = "Home Page"; }
<div class="row">
    @if (Model.Count() > 0){
            @foreach (var item in Model) {
            <div class="col-sm-6">
                <p>
                    @Html.DisplayFor(modelItem => item.AlbumId)
                </p>
                <p>
                    @Html.DisplayFor(modelItem => item.Name)
                </p>
            </div>
        }
    } @if (Model.Count() == 0){
        <p>No Albums found</p>
    }
</div>

    